:root{
    --c1: linear-gradient(135deg, #0ff);
    --c2: #0ff;
    --c3: rgb(72, 255, 0);
    --c4: linear-gradient(90deg, #10064b 0%, #0a042d 50%, #100649 100%);
    --c5: rgb(255, 89, 0);
    --c6: rgb(24, 203, 182);
    --c7: white;
    --c8: rgb(5, 8, 47);
    --f1: 'Courier New', Courier, monospace;
    --f2: 'Poppins', sans-serif;
}
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    background: var(--c8);
    margin: 0;
    padding: 0 20px;
    height: 80px;
    box-shadow: 0 0 25px rgba(3, 1, 41, 0.555);
}
.logo-side {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c8);
}
.logo-side img {
    height: 80px;
    width: 80px;
    margin: 0;
    padding: 0;
    filter:drop-shadow(0 0 15px #0ff, 0 0 30px #09f);
}
.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-text h2, h6 {
    margin: 0;
    padding: 0;
    font-family: var(--f2);
    color: var(--c2);
    text-shadow: 0 0 15px #0ff, 0 0 30px #09f;
}
.logo-text h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.logo-text h6 {
    word-spacing: 5px;
}
.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    gap: 20px;
}
.user-account {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}
.user-icon, close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-icon,
.cart,
.close {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c2);
    font-size: 1.3rem;
    height: 20px;
    width: 20px;
    border: 1px solid var(--c2);
    border-radius: 50px;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s all;
}
.cart:hover {
    color: #09f;
}
.user-icon:hover,
.close:hover {
    color: var(--c7);
    font-size: 1.5rem;
}
.close {
    display: none;
    z-index: 2;
}
.add-btn span {
    height: 40px;
    width: 2px;
    background: var(--c2);
}
nav {
    font-family: var(--f2);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--c8);
    margin: 0;
    z-index: 10;
    padding: 10px 0;
}
.responsive-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 20px;
}
.menu-bar {
    position: absolute;
    color: var(--c2);
    display: none;
}
.dropdown-list {
    position: relative;
}
nav .category a, 
nav a {
    position: relative;
    text-decoration: none;
    color: var(--c2);
    position: relative;
    display: inline-block;
}
nav .category a i,
nav a .cata {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.category a::after,
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--c2);
    transition: width 0.3s;
}
.category a:hover::after,
.category a:focus::after,
nav a:hover::after,
nav a:focus::after {
    width: 100%;
    
}
.category a:hover,
nav a:hover,
.category a:focus,
nav a:focus  {
    color: #09f;
    text-shadow: 0 0 15px #0ff, 0 0 30px #09f;
}
.nav-open a .cata {
    display: inline-block;
}
.cat-list {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    display: none;
    flex-direction: column;
    background: var(--c8);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 25px rgba(3, 1, 41, 0.555);
    min-width: 180px;
    z-index: 999;
}
.cat-list.show {
    display: block;
}
.cat-list a {
    text-decoration: none;
     padding: 6px 10px;
    display: block;
}
.cat-list a::before {
    content: '➤';
    padding: 4px;
}
.cat-list a:hover {
    background: #b6b6b6;
    color: var(--c8);
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0ff;
    margin-right: 50px;
    
}
.search-box input {
    height: 100%;
    margin-right: 10px;
    padding: 10px;
    width: 220px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid #0ff;  
    color: rgb(255, 255, 255);
}
.search-box input::placeholder {
    color: #0ff;
    text-shadow: 0 0 15px #0ff, 0 0 30px #09f;
}
.search-box input:focus {
    border: none;
    box-shadow: 0 0 15px #0ff, 0 0 30px #09f;
}
.search-box button {
  height: 40px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--c2);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.search:hover {
    transform: scale(1.2);
    color: #09f;
}
.search:active {
    transform: scale(0.8);
    color: #0ff;
}
main {
    flex: 1;
}
.Login-form {
    display: none;
    position: fixed;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: transform 0.3s;
    color: var(--c2);
    margin: 0;
    padding: 10px;
    background: transparent;
    box-shadow: 0px 10px 10px rgba(2, 225, 255, 0.516);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 0.5px solid #04c9ff;
}


.signup-section {
    display: none;
}

.login-section {
    display: flex;
}
.popup-txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-decoration: none;
    margin: 0 5px;
    overflow: hidden;
    background: transparent;
    border: 1px solid var(--c2);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.button:hover {
    width: 100px;
    padding: 0;
}

.button .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: var(--c2);
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
}

.button:hover .icon {
    background: var(--clr);
}

.button .icon i {
    font-size: 18px;
    line-height: 30px;
    transition: all 0.3s ease-out;
}

.button:hover .icon i {
    color: #fff;
}

.button span {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 0;
    transition: all 0.3s ease-out;
}

.button span {
    color: var(--clr);
}


.login-section,
.signup-section {
    border-radius: 10px;
    height: 350px;
    width: 600px;
}

.login div {
    flex: 1;
    text-align: center;
}

.login-side,
.signup-side,
.welcome-txt {
    border: 1px solid var(--c2);
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 15px rgb(0, 247, 255);
    background: #000000;
}

.login-page,
.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.or {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    width: 90%;
}

.or hr {
    flex: 1;
    height: 1px;
    background-color: var(--c2);
    border: none;

}

.or span {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.login-page form,
.signup-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.login-page form {
    gap: 10px;
}

.signup-page form {
    gap: 8px;
}

.login-page form .input-box,
.signup-page form .input-box {
    position: relative;
    width: 100%;
}

.login-page form .input-box .icon,
.signup-page form .input-box .icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: var(--c2);
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}

.login-page form .input-box input,
.signup-page form .input-box input {
    width: 80%;
    padding: 10px 12px 10px 40px;
    font-size: 14px;
    border-radius: 12px 0;
    color: #0ff;
    border: 1.5px solid var(--c2);
    background: transparent;
}

.input-box input::placeholder,
.input-box input::placeholder {
    color: #ffffffdd;
}
.login-page form input:focus,
.signup-page form input:focus {
    filter: drop-shadow(2px 2px 4px rgba(0, 229, 255, 0.696));
}

.login-page form button,
.signup-page form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    width: 80%;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--c2);
    color: var(--c2);
    transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.3s ease-in-out, background 0.5s ease-in-out, font-size 0.3s ease-in-out;
}

.login-page form button:hover,
.signup-page form button:hover {
    color: #000;
    background: var(--c2);
    border: 2px solid var(--c2);
    width: 90%;
    font-weight: bold;
    font-size: 18px;
}

.login-page form button:active,
.signup-page form button:active {
    transform: scale(0.8);
}

.eye-user {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-user input {
    width: 100%;
    padding: 10px 40px 10px 40px;
    border: 1px solid var(--c2);
    border-radius: 8px;
    font-size: 15px;
}

/* Eye Icon */
.eye-user .eye {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: var(--c2);
    opacity: 100%;
    cursor: pointer;
}

.welcome-txt {
    margin-bottom: 10px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.welcome-txt h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    padding-top: 30px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.welcome-txt p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    margin: 0;
}

.welcome-txt h4 {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 20px;
    margin: 0;
}

.welcome-txt button {
    padding: 8px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 16px;
    background: transparent;
    border: 1px solid var(--c2);
    color: var(--c2);
    transition: background 1s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.welcome-txt button:hover {
    color:black;
    background: linear-gradient(135deg, #0ff);
    transform: scale(1.1);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2px;
    font-family: Arial, sans-serif;
    gap: 30px;
}

.remember-forgot label {
    font-size: 14px;
    color: var(--c2);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.remember-forgot input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.remember-forgot a {
    font-size: 14px;
    color: var(--c7);
    text-decoration: none;
    font-weight: 500;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: #ff0000;
}

.remember-forgot a:active {
    color: #d80b0b;
    transform: scale(0.9);
}

.display img {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.Product-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
}
.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}
.text button {
    gap: 300px;
}

.text .button .left:hover,
.text .button .right:hover {
    color: var(--c4);
    border-color: var(--c4);

}
.text .button .left:active,
.text .button .right:active{
    transform: scale(0.9);
    color: var(--c2);
}

.product-list,
.categories {
    background: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 0 20px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.categories::-webkit-scrollbar {
    display: none;
}

/* CATEGORY CARD BOX */
.category-card {
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* CATEGORY IMAGE */
.category-card img {
    width: 100%;
    height: 140px;
    object-fit: contain;     /* Image আর কাটবে না */
    background: transparent;
    border-radius: 10px;
}

/* CATEGORY TEXT */
.category-card p {
    margin: 12px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

footer {
    background: var(--c8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    padding: 20px 20px;
    border-radius: 10px 10px 0 0;
}

footer p {
    color: rgb(33, 152, 152);
    margin: 5px 0;
    width: 100%;
}

footer .line {
    height: 1px;
    width: 80%;
    background: var(--c2);
    margin: 20px 0;
}

/* Footer columns wrapper */
footer .information {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;  /* corrected from 'top' */
    gap: 40px;
    color: var(--c2);
    flex-wrap: wrap; /* responsive */
}
footer .information h2 {
    color: var(--c3);
}
.social {
    display: flex;
    gap: 20px;
    color: var(--c2);
}

/* Column styling */
.follow, .condition, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Social icons wrapper */
.follow, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow a, .contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    text-decoration: none;
    background: transparent;
    border: 1px solid var(--c2);
    color: var(--c2);
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.follow a:hover, .contact a:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
    color:#09f;
}
.follow a:active, .contact a:active {
    transform: scale(0.9);
}
footer p a {
    text-decoration: none;
    color: white;

}
.condition a {
    text-decoration: none;
    color: var(--c2);
    position: relative;
    padding-left: 15px;
    transition: transform 0.5s ease-in-out, color 0.2s ease-in-out;
}

.condition a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    background: var(--c2);
    border-radius: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.2s;
}

.condition a:hover::before {
    opacity: 1;
}
.condition a:active {
    transform: scale(0.8);
    color: var(--c5);
}
